<h1>Angular Joke Services Demo</h1>
<h2>Joke count: {{count$ | async}}</h2>
<!-- 
    Harder for business logic to explicitly be in here with the NgRx pattern - need to have a separate function
-->
<div>Get started by adding 3 jokes at once: <button (click)="setJokesNumber(3)">Third time's a charm!</button></div>

<!--
    Much better to have each button run functions that are testable
-->
<div>
    <button (click)="addJoke()">Add another joke copy</button>

    <button (click)="refreshCurrentJoke()">This joke is old...Boooo</button>

    <button (click)="removeAllJokes()">Remove all jokes</button>
</div>

<!-- since jokes is just an array of numbers we'll pass each element to the individual joke-->
<app-joke *ngFor="let joke of jokes" [jokeNumber]="joke"></app-joke>
